/* topbar */

.topbar3 .menu {
    margin: 0;
    list-style: none;

    li:last-child {
        margin-right: 0;
    }

    li {
        display: inline-block;
        margin-right: 20px;

        a {
            font-size: 12px;
            color: $color_white;

            &:hover {
                color: #ccc;
            }
        }
    }
}

.topbar4 #primary-menu li a {
    color: #999;

    &:hover {
        color: #ccc;
    }
}

.topbar4 .menu {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;

    li {
        display: inline-block;
        margin-left: 20px;

        a {
            font-size: 12px;
            color: #999;

            &:hover {
                color: #ccc;
            }
        }
    }
}

@media (max-width: 767px) {

    .topbar3 .menu,
    .topbar4 .menu {
        text-align: center;
    }

    .topbar3 .menu li {
        margin-right: 8px;
    }
}
/*webcom-essential-css*/
.header-right {
    flex: initial;
    justify-content: flex-end;
    padding-right: 15px;
}

a.user-link img,
.header-right .avatar {
    margin-left: 10px;
    max-width: 38px;
    border-radius: 100%;
    margin: 0 0 0 12px;
}

.user-link-wrap {
    font-size: 14px;
    min-height: 70px;
    display: flex;
    align-items: center;
}

.user-link-wrap {
    position: relative;
}

.user-link-wrap:hover .user-profile-menu {
    opacity: 1;
    margin-top: -4px;
    visibility: visible;
}

.user-profile-menu {
    min-width: 160px;
    background: #fff;
    border-top: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0 0 3px 3px;
    position: absolute;
    opacity: 0;
    transition: all 0.3s;
    margin-top: 20px;
    top: 74px;
    z-index: 1000;
    right: 0;
    visibility: hidden;
    padding: 5px 0;
    transition: all 0.3s;
    margin: 0;
}

.user-profile-menu:after {
    content: ' ';
    width: 12px;
    height: 12px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 12px;
    transform: rotate(45deg);
    z-index: -1;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.user-profile-menu li {
    list-style: none;
    padding: 0;
}

.user-profile-menu li > a {
    font-size: 13px;
    display: block;
    padding: rem-calc(5 15);
    line-height: initial;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-profile-menu li > a:hover {
    background-color: transparent;
}

.user-profile-menu li > a:hover span {
    color: inherit;
}

.user-profile-menu li > a span {
    color: inherit;
    font-size: 10px;
}

.user-profile-menu li > a span:before {
    content: ' ';
    position: absolute;
    z-index: -1;
    top: 0;
    left: -5px;
    margin: auto;
}

.header-right .user-link span.rg-user {
    max-width: 100px;
    color: #fff;
    display: none;
}

/* user-notifications */
.user-notifications {
    position: relative;

    &:hover .rg-dropdown {
        opacity: 1;
        margin-top: -4px;
        visibility: visible;
    }
}

.user-notifications:hover .rg-dropdown,
.user-notifications .rg-dropdown {
    top: 94px;
    right: -50px;
}

.user-notifications:hover .rg-dropdown:after,
.user-notifications .rg-dropdown:after {
    content: ' ';
    width: 12px;
    height: 12px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 66px;
    transform: rotate(45deg);
    z-index: -1;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.rg-icon-wrap {
    width: 46px;
    height: 70px;
    color: #ccc;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    font-size: 18px;
}

.rg-icon-wrap:hover {
    color: #fff;
}

.user-notifications .rg-dropdown, .user-notifications:hover .rg-dropdown {
    top: 74px;
    right: -50px;
}

.rg-dropdown {
    position: absolute;
    top: 54px;
    right: 0;
    margin: 0;
    padding: 5px 0 0;
    width: 300px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1000;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 3px 3px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.rg-dropdown li {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    list-style: none;
}

.rg-dropdown li a {
    display: block;
    padding: 10px 16px;
}

.rg-dropdown li.rg-view-all a {
    padding: 12px 16px 15px;
    color: #333;
    background: rgba(0, 0, 0, 0.1);
    border-top: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    font-size: 14px;
}

.header-right .search-wrap {
    width: 46px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    position: relative;
    color: #ccc;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.header-right .search-wrap:hover {
    color: #fff;
}

.header-right .rg-search-form-wrap {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    z-index: 9999;
    position: absolute;
    width: 210px;
    right: 0;
    background: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    top: 70px;
    line-height: 1.2em;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.header-right input.search-field {
    width: 100%;
    height: 32px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    font-size: 13px;
    padding: 0 16px;
    z-index: 1;
    margin: 0;
}

.header-right .search-active .rg-search-form-wrap {
    opacity: 1;
    visibility: visible;
}

.header-right .rg-search-form-wrap:after {
    content: ' ';
    width: 12px;
    height: 12px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 16px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.header-right span:before {
    font-size: 18px;
    font-weight: 600;
}

.header-right form.search-form input[type="submit"] {
    position: absolute;
    right: 5px;
    top: 4px;
    height: 30px;
    width: 30px;
    min-width: auto;
    background: transparent url(../img/svg/search.svg) no-repeat 7px;
    border: 1px solid transparent;
    border-radius: 100%;
    cursor: pointer;
    text-indent: -9999em;
}

.header-right form.search-form input[type="submit"]:hover {
    background: transparent url(../img/svg/search.svg) no-repeat 7px;
}

.rg-count {
    color: #01ccff;
    background-color: #ffffff;
    position: absolute;
    top: 26px;
    right: 7px;
    border: 0;
    padding: 0;
    margin-left: 0;
    display: inline-block;
    line-height: 17px;
    font-weight: 600;
    padding: 0 5px;
    vertical-align: top;
    border-radius: 10px;
    font-size: 11px;
}

/* Set header default and elementor */

@media (min-width: 768px) {
    .jobmate-manage-fallback-header .jobmate-fallback-header {
        display: none;
    }
}

@media (max-width: 767px) {
    div#wbcom-ele-masthead {
        display: none;
    }
}