.job-manager-form fieldset label {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

form#submit-job-form {
    background: $color__background-form;
    padding: 16px 28px;

    h2 {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        border: 1px solid $color__border-default;
        display: inline-block;
        padding: 10px 20px;
    }

    strong {
        font-weight: 500;
    }

    .chosen-container-single .chosen-single,
    .chosen-container-multi .chosen-choices {
        border: 1px solid $color__border-input;
    }

    .chosen-container-active.chosen-with-drop .chosen-single {
        border: 1px solid $color__border-input;
    }

    .chosen-container .chosen-drop {
        border: 1px solid $color__border-input;
    }
}

.job-manager-form fieldset {
    margin: 0 0 1.5em;
    padding: 0 0 1.5em 0;
    border-bottom: $color__border-default;
}

.job-manager-form fieldset select,
.job-manager-form fieldset textarea {
    font-size: 14px;
    height: 38px;
    padding: 6px 10px;
}

form#job_preview {

    .single_job_listing, .single-job_listing nav.navigation.post-navigation {
        max-width: 100%;
    }
}

.job_listing_preview h1 {
    font-size: 30px;
    padding-top: 20px;
}

.job_listing_preview_title .button, .job_listing_preview_title .button {
    margin-top: 6px;
}

@media (max-width: $grid-breakpoint-small) {
    .job-manager-form fieldset label,
    .job-manager-form fieldset div.field {
        width: 100%;
    }

    .job-manager-form fieldset {
        border-bottom: 0;
    }

    .entry-content .job_listing_preview_title .button, .job_listing_preview_title .button {
        float: none;
        margin-left: .25em;
    }
}