.company-letters {
    text-align: center;
    margin-bottom: 50px;
}

.company-letters a {
    padding: 10px;
    margin: 3px;
    border: 1px solid $color__border-light;
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-top: 5px;
    color: $color_gray;

    &:hover {
        border: 1px solid $color__link-hover;
        color: $color__link-hover;
    }
}

ul.companies-overview {
    margin: 0;
    list-style: none;
    width: 100% !important;
}

li.company-group {
    width: calc(33% - 20px);
    padding: 10px;
    border: 1px solid $color__border-light;
    margin: 10px;
    margin-right: 13px;

    ul {
        margin: 0;
        list-style: none;
    }
}

.company-letter {
    font-size: 30px;
    margin-bottom: 10px;
    background: #eeee;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

li.company-name {
    margin-bottom: 10px;
    border-bottom: 1px solid $color__border-light;
    padding-bottom: 10px;

    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;

    a {
        font-size: 16px;
        color: #333;

        &:hover {
            color: $color__link-hover;
        }
    }
}

li.company-name:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

li.company-name:first-child {
    border-top: 1px solid $color__border-light;
    padding-top: 10px;
}

@media (max-width: 829px) {
    li.company-group {
        width: calc(50% - 24px);
    }
}

@media (max-width: 543px) {
    li.company-group {
        width: calc(100% - 20px);
    }
}

