.single_job_listing .meta {
    font-size: 14px;
}

.single_job_listing .meta .job-type {
    border-radius: 3px;
}

.single_job_listing .meta {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.single-job_listing .jm-page-header {
    padding: 80px 0;

    .meta {
        margin-top: 40px;
    }
}

.single_job_listing .meta .job-type {
    background: transparent;
}

.single_job_listing .meta li,
.single_job_listing .meta li a {
    color: $color_white;
}

.single_job_listing,
.single-job_listing nav.navigation.post-navigation {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

nav.navigation.post-navigation {
    margin: 40px 0;
}

.nav-links {
    display: flex;
    justify-content: space-between;

    &  > div {
        max-width: 45%;
        font-style: italic;
    }
}

.nav-links a {
    display: flex;
}

.nav-next a {
    text-align: right;
}

.nav-previous a:before,
.nav-next a:after {
    content: ' ';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.nav-previous a:before {
    content: '\f100';
    margin-right: 5px;
}

.nav-next a:after {
    content: '\f101';
    margin-left: 5px;
}

.single_job_listing .meta .job-type:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: job-manager!important;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    font-size: 16px;
    margin: 0 5px 0 0;
    content: '\e81e';
}

.single_job_listing .meta .date-posted:before {
    margin-right: 5px;
}

.single_job_listing .company {
    position: relative;
    border: 1px solid $color__border-default;
    padding: 1em;
    margin-bottom: 60px;
    display: block;
    clear: both;
    min-height: 75px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.single_job_listing .company .name {
    margin: 0 0 0 3em;
    padding: 0 0 0 1em;
    line-height: 1.5em;
}

.single_job_listing .company .name a {
    float: right;
    margin-left: 1em;
}

.jm-single-job .meta {
    display: none;
}

.job-manager-application-wrapper .application, .single_job_listing .application {
    margin-bottom: 60px;
    display: inline-block;
}

.job-manager-application-wrapper .application .application_button,
.single_job_listing .application .application_button,
.single_job_listing .application .apply-with-facebook,
.single_job_listing .application .apply-with-xing {
    padding: 0 42px 4px;
    height: 48px;
    margin-bottom: 0;
    margin-right: 0;
}

.job-manager-application-wrapper .application .application_details,
.single_job_listing .application .application_details {
    background: $color__background-form;
    padding: 30px;
    text-align: left;

    input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
        width: 100%;
        height: 38px;
        padding: 6px 10px;
        font-size: 14px;
        line-height: 38px;
    }
}

.job-manager-application-wrapper .application .application_details p,
.single_job_listing .application .application_details p {
    margin: 0 0 1.5rem;
}

em.goft-source {
    margin-right: 5px;
}

p.job-manager-single-alert-link {
    margin-bottom: 50px;
}

.single_job_listing.jm-single-job {

    .job-manager-application-wrapper .application,
    .single_job_listing .application {
        display: inline-block;
    }
}

@media (max-width: $grid-breakpoint-small) {
    .jm-page-header .page-title {
        font-size: 24px;
        line-height: 1.6;
    }

    .single-job_listing .jm-page-header {
        padding: 40px 0;
    }

    .single_job_listing .meta {
        display: block;
    }

    .jm-single-job .meta {
        display: none;
    }

    .single_job_listing .meta li {
        width: 100%;
        margin: 0;
        padding: 10px;
        float: none;
        line-height: 1em;
    }
}

@media (max-width: $grid-breakpoint-small) {
    .single_job_listing .application .apply-with-facebook,
    .single_job_listing .application .apply-with-xing {
        float: none;
        margin-bottom: 20px;
        margin-left: 0;
    }
}