@media (max-width: $grid-breakpoint-small) {
    #widget-code-preview {
        width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
    }

    #widget-code-content {
        width: 100%;
        padding-left: 0;
    }
}